<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

     <bean id="user" class="com.kuang.pojo.User">
<!--        <property name="name" value="二狗"/> -->
<!--   下标赋值      <constructor-arg index="0" value="Lee二狗"/> -->
<!--   类型         <constructor-arg type="java.lang.String" value="Lee 三狗"/> -->

<!--  最常用的： 直接通过参数名 -->
         <constructor-arg name="name" value="Leee 五狗"/>
         <constructor-arg name="school" value="Beijing"/>
    </bean>


<!--    别名的案例  -->
    <alias name="user" alias="asdfdsfdsf"/>



<!--   id: bean的唯一标识符，相当于对象名
 class：bean对象所对应的全限定名： 包名+类名 -->
    <bean id="userT" class="com.kuang.pojo.UserT" name="user2">

        <constructor-arg value=""/>
    </bean>

</beans>