<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="address" class="com.kuang.pojo.Address">
        <property name="address" value="上海市闵行区"></property>
    </bean>

    <bean id="student" class="com.kuang.pojo.Student">
        <!-- 1、普通值注入-->
        <property name="name" value="Lee二狗"/>

        <!-- 2、 bean注入 使用 ref -->
        <property name="address" ref="address"/>

        <!-- 3、 数组注入 -->
        <property name="books">
            <array>
                <value>红楼梦</value>
                <value>西游记</value>
                <value>水浒传</value>
                <value>三国演义</value>
            </array>
        </property>

        <!-- 4、 List注入 -->
        <property name="hobbys">
            <list>
                <value>健身</value>
                <value>游泳</value>
                <value>听歌</value>
            </list>
        </property>

        <!-- 5、 Map注入 -->
        <property name="card">
            <map>
                <entry key="身份证" value="11111111111"></entry>
                <entry key="银行卡" value="22222222222"></entry>
            </map>
        </property>

        <!--6、 Set注入 -->
        <property name="games">
            <set>
                <value>FIFA2020</value>
                <value>使命召唤</value>
                <value>战地2</value>
            </set>
        </property>

        <!--7、 这里尝试造一个 空字符串 注入 -->
        <property name="wife">
            <null></null>
        </property>

        <!--8、 Properties 特殊类型 注入 -->
        <property name="info">
            <props>
                <prop key="学号">13141516</prop>
                <prop key="班级">0502</prop>
            </props>
        </property>

    </bean>


</beans>